In [37]:
import pandas as pd
import numpy as np

In [43]:
train_df = pd.read_json('data/train.json', orient='records').set_index('id')
train_df['inc_angle'].replace('na', np.nan, inplace=True)

In [39]:
train_df.head()

,band_1,band_2,inc_angle,is_iceberg
id,,,,
dfd5f913,"[-27.878360999999998, -27.15416, -28.668615, -...","[-27.154118, -29.537888, -31.0306, -32.190483,...",43.9239,0
e25388fd,"[-12.242375, -14.920304999999999, -14.920363, ...","[-31.506321, -27.984554, -26.645678, -23.76760...",38.1562,0
58b2aaa0,"[-24.603676, -24.603714, -24.871029, -23.15277...","[-24.870956, -24.092632, -20.653963, -19.41104...",45.2859,1
4cfc3a18,"[-22.454607, -23.082819, -23.998013, -23.99805...","[-27.889421, -27.519794, -27.165262, -29.10350...",43.8306,0
271f93f4,"[-26.006956, -23.164886, -23.164886, -26.89116...","[-27.206915, -30.259186, -30.259186, -23.16495...",35.6256,0

In [29]:
train_df.shape

(1604, 4)

In [44]:
train_df.describe()

         inc_angle   is_iceberg
count  1471.000000  1604.000000
mean     39.268707     0.469451
std       3.839744     0.499222
min      24.754600     0.000000
25%      36.106100     0.000000
50%      39.501500     0.000000
75%      42.559100     1.000000
max      45.937500     1.000000

In [46]:
train_df['is_iceberg'].value_counts()

0    851
1    753
Name: is_iceberg, dtype: int64